@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
// @import 'normalize';


.header{
  &__inner{
    display: flex;
    justify-content: space-between;
    max-height: 90px;
    align-items: center;
    padding-top: 15px;
  }
  &__loggin{
    margin-right: 43px;
    font-size: 13px;
    line-height: 18px;
    color: #221437;
  }
  &__buttons{
    margin-top: 10px;
  }
  &__btn{
    display: inline-block;
    padding: 11px 25px;
    background-color: #793CFB;
    border-radius: 50px;
    border: 5px solid #793CFB;
    color: #EFF7FD;
    transition: all .3s;
    &:hover{
      color: #793CFB;
      background-color: #fff;
      border: 5px solid #793CFB;
    }
  }
  &__btn+.header__btn{
    margin-left: 11px;
  }
}

.menu{
  &__list{
    display: flex;
    margin-top: 10px;
  }
  &__list-item+.menu__list-item{
    margin-left: 62px;
  }
  &__list-link{
    color: #221437;
    text-transform: uppercase;
  }
  &__list-link{
    font-size: 13px;
    line-height: 18px;
  }
}

.get{
  background-image: url(../images/get-bg.png);
  height: 1048px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  &__box{
    position: relative;
    display: flex;
    width: 100vw;
  }
  &__title{
    margin-top: 41px;
    margin-bottom: 59px;
    font-size: 99px;
    line-height: 99px;
  }
  &__text{
    font-size: 23px;
    line-height: 33px;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 19px;
  }
  &__input{
    background: #FFFFFF;
    box-shadow: 0px 4px 10.8px rgba(0, 0, 0, 0.05);
    border-radius: 36px;
    padding: 20px 198px 20px 26px;
    margin-right: 39px;
    &::placeholder{
      font-size: 12px;
      line-height: 18px;
      color: #000;
    }
  }
  &__started{
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    padding: 14px 43px;
  }
  &__awards{
    display: flex;
    margin-top: 25px;
    justify-content: center;
  }
  &__awards-img+.get__awards-img{
    margin-left: 10px;
  }
}

.left-side{
  margin-right: auto;
  position: relative;
  &__item1{
    position: absolute;
    top: 311px;
    left: 28px;
  }
  &__item2{
    position: absolute;
    top: 239px;
    left: 154px;
  }
}

.right-side{
  margin-left: auto;
  margin-top: 220px;
  position: relative;
  &__item3{
    position: absolute;
    top: -28px;
    right: 111px;
  }
  &__item4{
    position: absolute;
    top: 94px;
    right: 180px;
  }
  &__item5{
    position: absolute;
    top: 134px;
    right: 52px;
  }
  &__item6{
    position: absolute;
    bottom: 12px;
    left: 69px;
  }
}

.personalized{
  &__title{
    text-align: center;
    font-size: 58px;
    line-height: 58px;
    margin-bottom: 40px;
  }
  &__inner{
    display: flex;
  }
  &__items{
    padding-top: 194px;
    margin-right: 220px;
  }
  &__item{
    width: 414px;
    height: 135px;
    background-color: #FAFAFA;
    border-radius: 18px;
    display: flex;
    margin-bottom: 7px;
    align-items: center;
    justify-content: center;
  }
  &__item-img{
    width: 152px;
    height: 63px;
  }
  &__item-title{
    margin-left: 36px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 99px;
      height: 12px;
      background-color: #E9EFF1;
      border-radius: 18px;
    }
  }
  &__images{
    position: relative;
  }
  &__line{
    position: absolute;
    left: -348px;
    bottom: -235px;
  }
}

.company{
  margin-top: 370px;
  text-align: center;
  &__title{
    font-size: 58px;
    line-height: 58px;
    font-weight: normal;
    width: 950px;
    margin: 0 auto;
    margin-bottom: 150px;
  }
  &__items{
    margin: 0 auto;
    display: flex;
    width: 808px;
    flex-wrap: wrap;
  }
  &__items-img{
    margin-bottom: 70px;
  }
  &__items-img+.company__items-img{
    margin-left: 135px;
  }
}

.first-customer{
  background-image: url(../images/first-customer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 300px;
  margin-top: -100px;
  &__title{
    margin-left: 336px;
    margin-bottom: 117px;
    font-size: 81px;
    line-height: 81px;
    font-weight: normal;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 78px;
      height: 59px;
      top: -52px;
      right: 523px;
      background-image: url(../images/bird.svg);
      background-position: center;
    }
  }
  &__box{
    position: relative;
  }
  &__branch{
    width: 100%;
    position: absolute;
    left: 0;
    top: -231px;
  }
  &__items{
    margin-left: 144px;
    margin-right: 186px;
    display: flex;
    justify-content: space-between;
  }
  &__item{
    z-index: 3;
    &:nth-child(odd){
      margin-top: 58px;
    }
  }
  &__item-text{
    width: 286px;
    margin-top: 56px;
    font-size: 14px;
    line-height: 19px;
  }
  &__img{
    margin: 57px auto 60px;
  }
}

.managers{
  padding-top: 42px;
  &__title{
    text-align: center;
    margin: 0 auto;
    font-weight: normal;
    font-size: 81px;
    line-height: 81px;
    width: 830px;
  }
  &__text{
    text-align: center;
    margin: 47px auto 114px;
    font-size: 31px;
    line-height: 38px;
    width: 642px;
  }
  &__item{
    display: flex;
    justify-content: center;
  }
  &__item-content{
    margin-left: 140px;
  }
  &__item:nth-child(2),
  .managers__item:nth-child(5){
    flex-direction: row-reverse;
  }
  &__item:nth-child(2) .managers__item-content,
  .managers__item:nth-child(5) .managers__item-content{
    margin-left: 0;
    margin-right: 140px;
  }
  &__item-img{
    margin-top: 70px;
  }
  &__item-content{
    margin-top: 57px;
    width: 342px;
  }
  &__item-number{
    color: #793CFB;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 23px;
  }
  &__item-title{
    font-weight: normal;
    font-size: 33px;
    line-height: 36px;
    margin-bottom: 32px;
  }
  &__item-text{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 18px;
  }
  &__item-btn{
    display: inline-block;
    padding: 18px 29px;
    font-size: 13px;
    line-height: 17px;
  }
  &__item:nth-child(2) .managers__item-content{
    width: 300px;
    margin-left: 100px;
  }
  &__item-images{
    position: relative;
    width: 800px;
  }
  &__item-images .managers__item-img{
  position: absolute;
  bottom: -135px;
  left: 0;
  }
  &__item-img1{
    position: absolute;
    z-index: 3;
    top: 224px;
    left: -63px;
    filter: drop-shadow(0px 34px 34px rgba(0, 0, 0, 0.05));
  }
  &__item-img2{
    position: absolute;
    z-index: 3;
    top: 303px;
    left: 123px;
    filter: drop-shadow(0px 34px 34px rgba(0, 0, 0, 0.05));
  }
  &__item-img3{
    position: absolute;
    z-index: 3;
    top: 254px;
    left: 303px;
    filter: drop-shadow(0px 34px 34px rgba(0, 0, 0, 0.05));
  }
  &__item:nth-child(3){
    margin-top: 235px;
    margin-bottom: 190px;
    justify-content: center;
  }
  &__item-text--about{
    font-size: 33px;
    line-height: 36px;
    width: 344px;
    margin: 180px 0px 37px 70px;
  }
  &__item-name{
    margin-left: 70px;
    font-size: 14px;
    line-height: 20px;
  }
  &__item:nth-child(4){
    background-image: url(../images/managers-bg4.png);
    padding-bottom: 216px;
    background-size: cover;
  }
  &__item:nth-child(4) .managers__item-content{
    width: 300px !important;
  }
  &__item-images03{
    position: relative;
  }
  &__item-img3-1{
    position: absolute;
    top: -52px;
    right: -143px;
  }
  &__item:nth-child(5){
    background-image: url(../images/managers-bg5.png);
    background-size: 50%;
    background-position: center bottom;
    background-repeat: no-repeat;
    margin-top: -50px;
    padding-bottom: 243px;
  }
    &__item:nth-child(5) .managers__item-content{
      width: 244px;
    }
  &__item:nth-child(5) .managers__item-images04{
    position: relative;
    margin-top: 120px;
  }
  &__item-img4-1{
    position: absolute;
    bottom: -203px;
    right: 0;
  }
}

.techstack{
  margin-top: 116px;
  text-align: center;
  align-items: center;
  &__title{
    font-weight: normal;
    font-size: 79px;
    line-height: 79px;
    width: 820px;
    margin: 0 auto;
  }
  &__images{
    margin-top: 350px;
    position: relative;
  }
  &__images-main{
    margin: 0 auto;
  }
  &__img1{
    position: absolute;
    top: -264px;
    left: 359px;
    z-index: 3;
    filter: drop-shadow(0px 34px 34px rgba(0, 0, 0, 0.05));
  }
  &__img2{
    position: absolute;
    top: -231px;
    left: 826px;
    z-index: 3;
    filter: drop-shadow(0px 34px 34px rgba(0, 0, 0, 0.05));
  }
  &__images-line{
    position: absolute;
    top: -245px;
    left: 215px;
  }
}

.verbit{
  margin-top: 200px;
  background-image: url(../images/verbit-bg.png);
  height: 1094px;
  &__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title{
    font-size: 59px;
    line-height: 70px;
    font-weight: normal;
    width: 895px;
    text-align: center;
    margin-bottom: 62px;
  }
}

.started{
  &__title{
    margin-top: 92px;
    margin-bottom: 89px;
    font-weight: normal;
    text-align: center;
    font-size: 81px;
    line-height: 81px;
    width: 719px;
  }
  &__email{
    background: #FFFFFF;
    box-shadow: 0px 4px 10.8px rgba(0, 0, 0, 0.05);
    border-radius: 36px;
    padding: 20px 191px 20px 33px;
    margin-right: 29px;
    &::placeholder{
      color: #000;
      font-size: 12px;
      line-height: 18px;
    }
  }
  &__btn{
    padding: 19px 48px;
  }
}

.footer{
  margin-top: 54px;
  padding-top: 63px;
  &__box{
    display: flex;
  }
  &__product-list{
    margin-left: 460px;
  }
  &__learn,
  &__company{
    margin-left: 86px;
  }
  &__product-item,
  &__learn-item,
  &__company-item{
    margin-bottom: 10px;
  }
  &__product-link,
  &__learn-link,
  &__company-link{
    color: #000;
  }
  &__copy{
    margin-top: 121px;
    margin-bottom: 86px;
  }
}

.first-li{
  margin-bottom: 21px;
  font-weight: bold;
}

.green{
  color: #9FB55D;
}

.item-1{
  background-image: url(../images/managers-bg1.png);
  background-size: cover;
  padding-bottom: 216px;
}


.btn{
  color: #fff;
  background-color: #793CFB;
  border-radius: 36px;
  border: 5px solid #793CFB;
  color: #EFF7FD;
  transition: all .3s;
  &:hover{
    color: #793CFB;
    background-color: #fff;
    border: 5px solid #793CFB;
  }
}

.bold{
  font-weight: bold;
}

.left-margin{
  margin-left: 150px;
}

@import 'media';
